*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#container{
    display:flex;
    width:100%;
    flex-direction: column;
}
/*Header Section*/
#nav-section{
    right:10%;
   /* position:fixed;*/
    width:90%;
    
}
#nav-section ul{
    list-style-type: none;
    z-index:1;
}
#nav-section ul li {
    float:left;
    margin:2%;
    

}

/*Home section*/
#home{
    width:100%;
    height:700px;
    padding-left: 6%;
    background-image: url('../img/homebg.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
#home-detail{
    margin-top:20%;
    justify-content: end;
    color:white;
}
#home-detail p{
    width:25%;
    margin-top:3%;
}
button{
    background-color: transparent;
    color:white;
    padding:5px 2px 5px 2px;
    margin-top:1%;
    border-radius: 12px;
    width:150px;
    height:50px;
    cursor:pointer;
    border-color: white;
    
}
button:hover{
    background-color: aliceblue;
}
#about{
    display:flex;
    flex-direction:column;
}
#about-me{
    border-color: black;

}

.centered-text{
    text-align: center;
    margin-top:5%;
}
.underline{
    border-top: 5px solid black; 
    width:5%;
    margin:1%;
    
}
.centered{
    display:flex;
    justify-content: center;
}
.about-col{
    width:30%;
    float:left;
    margin-right:2%;
    height:500px;
}
#about .about-col{
    align-items: center;
}
#first-about-col{
    margin-left:2%;
}
.row{
    display:block;
    float:left;
    margin-top:10%;
}
/*progress bars*/
.progress-wrapper {
    gap: 20px;
}
.progress-container{
     
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height:5px;

}
.progress-bar{
    width:0%;
    text-align:center;
    color:white;
    border-radius:5px 0 0 5px;
    transition: width 2s ease-out;
}
.progress-title{
text-align:left;
margin-bottom:10px;
}
@media screen and (max-width: 768px) {
    .progress-wrapper {
        display: block; /* Stack vertically */
        margin: 0;
    }
    .progress-title {
        width: 100%;
    }
}
