*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#container{
    display:flex;
    width:100%;
    flex-direction: column;
}
/*Header Section*/
#nav-section{
    right:10%;
   /* position:fixed;*/
    width:90%;
    
}
#nav-section ul{
    list-style-type: none;
    z-index:1;
}
#nav-section ul li {
    float:left;
    margin:2%;
    

}
section{
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    padding:5%;
    display:flex;
    flex-direction:column;

}

/*Home section*/
#home{
    width:100%;
    /*height:700px;*/
    padding-left: 6%;
    background-image: url('../img/homebg.jpg');
    padding-top:0;
}
#home-detail{
    margin-top:20%;
    justify-content: end;
    color:white;
}
#home-detail p{
    width:25%;
    margin-top:3%;
}
button{
    background-color: transparent;
    color:white;
    padding:5px 2px 5px 2px;
    margin-top:1%;
    border-radius: 12px;
    width:150px;
    height:50px;
    cursor:pointer;
    border-color: white;
    
}
button:hover{
    background-color: aliceblue;
}
#about{
    display:flex;
    flex-direction:column;
}
#about-me{
    border-color: black;

}

.centered-text{
    text-align: center;
}
.underline{
    border-top: 5px solid black; 
    width:5%;
    margin:1%;
    
}
.centered{
    display:flex;
    justify-content: center;
}
.about-col{
    width:30%;
    float:left;
    margin-right:2%;
    height:500px;
}
#about .about-col{
    align-items: center;
}

.row{
    display:block;
    float:left;
    padding-top:5%;
    padding-left:5%;
}
/*progress bars*/
.progress-wrapper {
    gap: 20px;
}
.progress-container{
     
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height:15px;

}
.progress-bar{
    width:0%;
    text-align:center;
    color:white;
    border-radius:5px 0 0 5px;
    transition: width 2s ease-out;
}
.progress-title{
text-align:left;
margin-bottom:20px;
}
@media screen and (max-width: 768px) {
    .progress-wrapper {
        display: block; /* Stack vertically */
        margin: 0;
    }
    .progress-title {
        width: 100%;
    }
}
/*Services section*/

.services-col{
    width:25%;
    float:left;
    margin-right:5%;
    margin-bottom:2%;
    height:200px;
    padding:2%;
    border-style: ridge;
    border-radius:5px;
}
#services .services-col{
    align-items: center;
    display:flex;
    flex-direction: column;
}
.icon2 i{
    font-size:30px;
    margin-bottom:10px;
}
.services-col h2{
    margin-bottom:5px;
}
/*Education section*/
.sticky{
    position:sticky;
    z-index:1;
}
#education{
    justify-content: center;
}
#education .col{
    padding-top:5%;
    display:flex;
    flex-direction: column;
    width:100%;
}
.educard{
    width:100%;
    margin-bottom:5%;
}
.educard edurow{
    display:block;
}
.edubox{
    border:5px solid black;
    padding:3%;
    height:200px;
    margin:5%;
}
.edudescription{
    float:left;
    width:50%;
    height:100%;
    
}
.edudepth{
    border-left:5px solid black;
}
/*Experience Section*/
.timeline{
    position:relative;
    padding:20px;

}
.timeline .timeline-entry {
    position: relative;
    margin-right: 5%;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 5px;
    border-left:5px solid #e0e0e0;
    clear: both; 
}
.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative; 
    border-left:8px solid;
}
.timeline-icon {
        display: block;
        width: 50px;
        height: 50px;
        background: #2c98f0;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 0 0 5px #f2f3f7;
        line-height: 50px;
        float: left;
        transform: translateX(-29px);
        z-index: 3;
        align-items: center;
}
    .timeline-icon i {
            color: #fff; 
    }
        .timeline-label {
                position: relative;
                background: #f2f3f7;
                padding: 1.5em;
                margin-left: 60px;
       }
